.logo{
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    h3{
        text-align: center;
        padding: 0;
        padding-bottom: 5px;
        margin: 0;
        height: 100%;
    }
}

.NavBar{
    height: 20px;
    padding: 10px;
    border: 1px #0095ff solid;
}